.posts {
    display: block;
    margin: 0 auto;
    user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.post-wrapper {
    display: flex;
    flex-direction: column;
    user-select: none;
}

.post {
    display: flex;
    flex-direction: column;
    margin: 10px;
    background: #333;
    flex: 1;
    user-select: none;
}

.post-media {
    object-fit: contain;
    display: block;
    flex: 1 0 auto;
    width: 100%;
    height: 0px;
}

.post-header {
    display: flex;
    padding: 10px;
}

.post-names-box {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 8px;
    padding: 3px 0;
    font-size: 0.95em;
}

.post-avatar {
    width: 46px;
    height: 46px;
}

.post-display-name {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.post-username {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* This prevents it from overflowing parent. Is it sane even?! */
    width: 0;
    min-width: 100%;
}

.post-text {
    padding: 4px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100px;
}

.post-text p {
    margin: 0;
}

.post-posted-at {
    padding: 2px 10px 10px 10px;
    color: #aaa;
}

.fav {
    position: absolute;
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}

.animate-alpha {
    animation-name: alpha-anim;
    animation-duration: 1s;
}

@keyframes alpha-anim {
    0% { opacity: 0; }

    50% { opacity: 1; }

    100% { opacity: 0; }
}

.login-btn {
    padding: 4px;
    margin: 4px;
    background: hotpink;
    color: #000;
    display: inline-block;
    position: absolute;
    right: 10px;
}
