* {
    box-sizing: border-box;
    font-family: Fira sans-serif;
}


a {
    text-decoration: none;
    color: hotpink;
}

html {
    height: 100%;
}

body {
    background: #222;
    color: #ccc;
    height: 100%;
    font-family: 'Fira', sans-serif;
}

#root {
    height: 100%;
}

.tagHeader {
    text-align: center;
    margin: 16px;
}
